* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: #000;
}

#encabezado {
	padding-top: 5vh;
}
/*GRADIENTE ANIMADO TEXTO*/
.textogradiente {
	color: #7431dd;
	background: linear-gradient(
		to right,
		#dd31dd 20%,
		#7431dd 40%,
		#0082e6 60%,
		#dd31dd 80%
	);
	background-size: 200% auto;
	text-decoration: bold;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s linear infinite;
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.fondonegro {
	background-color: #000;
	height: 100vh;
	padding-top: 1px;
}

.titulo {
	color: white;
	text-align: center;
	font-size: 40px;
	margin-top: 10%;
}

.mostrar {
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.esconder {
	display: none;
}

.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33%;
	max-width: 300px;
}

.celda {
	border: white;
	border-width: 0.5rem;
	border-style: solid;
	min-width: 100px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	cursor: pointer;
	background-color: black;
}

.JugadorX {
	color: #3d6ae6;
}

.JugadorO {
	color: #fb49f2;
}

.controles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.controles button {
	color: rgb(255, 255, 255);
	padding: 8px;
	border-radius: 8px;
	border: none;
	font-size: 20px;
	margin-left: 1em;
	cursor: pointer;
}

.restart {
	background-color: #498afb;
}

#reset {
	background-color: #5d38ff;
}
